#channelName {
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
}
#channelName:hover {
  background-color: #1e1e1e;
  color: white;
}
#channelName:focus {
  background-color: #1e1e1e;
  color: white;
}
br {
  margin-bottom: 5rem;
}
.channelList {
  margin: 2rem 1rem 1rem 1rem;
  font-weight: bolder;
  font-size: 16px;
}
#channelError {
  color: red;
  margin: 2rem 1rem 1rem 1rem;
  font-weight: bolder;
  font-size: 16px;
}
