html {
  overflow-y: scroll;
}
#channelInput {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
}
#channelInput:hover {
  background-color: #1e1e1e;
  color: white;
}
#channelInput:focus {
  background-color: #1e1e1e;
  color: white;
}
#channelError {
  color: red;
  font-weight: bolder;
  font-size: 16px;
}
#themeButton {
  font-size: 12px;
  border-radius: 10px;
  font-weight: bold;
  border-style: dotted;
  border-color: orange;
  border-width: 2px;
}
select {
  padding: 5px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  border-width: 2px;
}
